.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  align-items: center;
  font-size: 1rem;
  padding: 0 1rem;
  height: 3.5rem;
  background-color: white;
}

.navBtn button {
  background-color: white;
  font-size: 1rem;
}

.logo_area {
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: white;
  background-color: var(--white-color);
}
.logo {
  display: flex;
  align-items: center;
}
.logo_area .text {
  font-size: 1.5rem;
}
.fa-youtube {
  color: var(--red-color);
  font-size: 1.875rem;
  background-color: var(--white-color);
}

.fa-bars {
  color: var(--black-color);
  /* padding: var(--padding); */
  padding: 0;
  font-size: 12px;
  background-color: var(--white-color);
  margin-right: 12px;
}

.navBtn img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  margin: 0 var(--padding);
}

.search {
  display: none;
}
.search input {
  border: 1px solid var(--line-color);
  outline: none;
  border-radius: 2px;
  padding: 2px 6px;
  flex: 1 1 auto;
  font-size: 1rem;
  background-color: #ffffff;
}
.search button {
  width: 65px;
  background-color: var(--btn-color);
  border: 1px solid var(--line-color);
  border-radius: 2px;
}
.navBtn {
  display: flex;
  align-items: center;
}

.navBtn .fas {
  font-size: var(--font-large);
  color: var(--red-color);
}

@media screen and (min-width: 720px) {
  .navbar .search {
    display: flex;
  }
  .navBtn .fa-search {
    display: none;
  }
}
