.videoList {
  display: flex;

  background-color: var(--background-color);
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.875rem 0.875rem;
}

.video {
  width: 100%;
  display: flex;
  flex-flow: column;
  cursor: pointer;
}

.container {
  display: flex;
  width: 320px;
}

.thumbnail {
  width: 320px;
  height: 180px;
}

.channelImg img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  margin: 0 var(--padding);
}

.title,
.channelTitle {
  font-size: var(--font-small);
}

.title {
  width: 100%;
  color: red;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}
